.App{
  max-width: 500px;
  width:100%;
  margin: 0 auto;

  box-sizing: border-box;
  padding:20px;

  /* border:1px solid gray; */
  
  display: flex; /*flex container 기능 위해 */
  flex-direction: column;
  gap:30px;
}